# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Logs
*.log

# Secrets
secrets/
credentials/
